@import url("styles/header.css");
@import url("styles/banner.css");


:root {
    --cor-de-fundo: #d8d8d8;
    --cor-branco: #ffffff;
    --cor-laranja: #EB9B00;
    --azul-degrace: #002F52 35.49%;
}

body {
    background-color: var(--cor-de-fundo);
}