:root {
    --cor-amarelo: #F4D04E;
    --cor-branco: #FFFFFF;
    --cor-cinza: #6B6B6B;
    --cor-preto: #111111;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor-amarelo);
}

.conteudo{
background-color: #FFFFFF;
margin: 50px;
padding: 4px 10px;

}
.link__learning{
    background-color: var(--cor-amarelo); 
    display: flex;
    border-radius: 4px;
    width: 15%;
    justify-content: center;
    padding: 5px;
    margin: 10px;
    
}
.inicio {
    padding: 1%; 
    
}



.attribution { font-size: 11px; text-align: center; }
    
.attribution a { color: hsl(228, 45%, 44%); }